/* #root > div {
  height: 100%;
} */

#root {
  height: 100%;
  background: #F9F9FA !important;
}

.ant-layout {
  background: #F9F9FA !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.login-form {
  width: 400px;
  background-color: #FFF;
  border-radius: 2%;
}

.login-input {
  margin: 20px 0 20px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ant-row {
  margin: 25px 25px 25px 25px;
}

.error-message {
  color: red;
  margin: 0;
}

.ant-btn-primary {
  width: 100%;
}

.not-found-layout {
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%
}

.not-found-header {
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.not-found-text {
  font-size: 18px;
  margin-top: -40px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.back-button:hover {
  box-shadow: 0 0 0 !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  height: 60px;
  width: 100%;
}

.navbar-title {
  margin-right: auto !important;
}

.navbar-submenu {
  margin-left: auto !important;
}

.hr {
  border: 0;
  height: 0;
  width: 38%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.ant-card {
  margin: 15px 0 15px 0 !important;
}

.ant-card-meta-title {
  font-size: 27px;
}

.post {
  background-color: #FFF;
  margin-top: 2%;
  padding: 6% 8%  !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
}

.post-title {
  font-size: 42px;
  line-height: 1.04;
  letter-spacing: -.015em;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.post-image {
  width: 100%;
  height: auto;
}

.profile-name {
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 -15px;
}

.profile-info-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.post-content {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: 'Vollkorn', serif;
}

.profile-image {
  border-radius: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile-details {
  flex-direction: column;
  margin-left: 20px;
}

.profile-social-icon {
  color: black;
  font-size: 20px;
  margin: 0 5px 0 5px;
}

.image-cropper {
  width: 170px;
  height: 170px;
  position: relative;
  overflow: hidden;
  border: 5px solid #CCC;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.profile-bio {
  font-size: 16px;
  margin: 15px 0 15px 0;
}

.settings-title {
  font-size: calc(40px + 1vw);
  font-weight: bold;
}

.settings-button {
  margin: 30px 0 30px 0;
  height: 50px;
}


/* NEW STYLING FOR HOVERING MENU*/

.example,
.error {
  max-width: 42em;
  margin: 0 auto 20px;
  padding: 20px;
}

.example {
  background: #fff;
}

.error {
  background: #fffae0;
}

.error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.editor > * > * + * {
  margin-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active='true'] {
  color: black;
}

.toolbar-menu {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.toolbar-menu .search {
  position: relative;
}

.toolbar-menu .search-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #ccc;
  height: 30px;
}

.toolbar-menu .search-box {
  padding-left: 2em;
  width: 100%;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
  height: 35px;
}

.hover-menu .button {
  color: #fff;
  font-size: 16px;
}

.hover-menu .button[data-active='true'] {
  color: #fff;
}