#root > div {
  height: 100%;
}

#root {
  height: 100%;
}

.ant-layout {
  background: #FFF !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.login-form {
  width: 400px;
}

.login-input {
  margin: 20px 0 20px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-row {
  margin: 0 20px 0 20px;
}

.error-message {
  color: red;
  margin: 0;
}

.ant-btn-primary {
  width: 100%;
}

.not-found-layout {
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%
}

.not-found-header {
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.not-found-text {
  font-size: 18px;
  margin-top: -40px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.back-button:hover {
  box-shadow: 0 0 0 !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 60px;
  width: 100%;
}

.navbar-title {
  margin-right: auto !important;
}

.navbar-submenu {
  margin-left: auto !important;
}

.hr {
  border: 0;
  height: 0;
  width: 38%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.ant-card {
  margin: 15px 0 15px 0 !important;
}

.post-title {
  font-size: 42px;
  line-height: 1.04;
  letter-spacing: -.015em;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.post-image {
  width: 100%;
  height: auto;
}

.profile-name {
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 -15px;
}

.post-content {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: 'Vollkorn', serif;
}

.profile-image {
  width: 100%;
  height: auto;
}

.profile-bio {
  font-size: 16px;
}

.settings-title {
  font-size: calc(40px + 1vw);
  font-weight: bold;
}

.settings-button {
  margin: 30px 0 30px 0;
  height: 50px;
}


.DraftEditor-root{
  background: #C3C3C3;
  border-radius: .3em;
  padding: 1em;
}

button{
  background: #999;
  color: #fff;
  border: none;
  padding: .5em;
  cursor: pointer;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: .2em;
}

button:hover{
  background: #888;
}

pre{
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: .2em;
  padding: .5em;
  margin: 0;
}


pre > pre{
  background: none;
  border: none;
  padding: 0;
}