/* #root > div {
  height: 100%;
} */

h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#root {
  height: 100%;
}

.ant-layout-content {
  background: #F9F9FA;
}

.new-post-layout {
  background-color: #FFF !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.post-row {
  margin: 0 22% 0 22% !important;
}

.new-post-row {
  margin-top: 0 !important;
}

.new-article-form {
  margin-top: 40px;
}

@media only screen and (max-width: 880px) {
  .ant-col-offset-6 {
      margin-left: 3%;
  }
  .ant-col-12 {
    width: 94%;
  }

  .post-row {
    margin: 0 0 0 0 !important;
  }
  
  .ant-card-meta-title {
    white-space: normal !important;
  }
  
  .post {
    border-radius: none;
    box-shadow: none;
    margin: 0 0 0 0 !important;
    background-color: #FFF;
  }

  .post-text {
    padding: 6% 3% !important;
  }

  .post-content {
    font-size: 17px !important;
    line-height: 26px !important;
  }

  .post-title {
    font-size: calc(1.85vw + 25px);
  }

  .profile-info-wrapper {
    margin: 4% 10% 0 3% !important;
  }

  .profile-name {
    font-size: 25px !important;
    font-weight: bold !important;
  }
}


.login-form {
  width: 400px;
  background-color: #FFF;
  border-radius: 2%;
}

.login-input {
  margin: 20px 0 20px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ant-row {
  margin: 25px 25px 25px 25px;
}

.error-message {
  color: red;
  margin: 0;
}

.ant-btn-primary {
  width: 100%;
}

.not-found-layout {
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%
}

.not-found-header {
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.not-found-text {
  font-size: 18px;
  margin-top: -40px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.back-button:hover {
  box-shadow: 0 0 0 !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  position: relative;
  width: 100%;
}

.navbar-title {
  margin-right: auto !important;
}

.navbar-submenu {
  margin-left: auto !important;
}

.ant-card {
  margin: 15px 0 15px 0 !important;
}

.ant-card-meta-title {
  font-size: 27px;
}

.post {
  margin-top: 2%;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #FFF;
}

.post-author {
  color: #666666;
}

.post-likes {
  margin: 30px 0 30px 0;
  font-size: 20px;
  font-weight: bold;
}

.post-profile-image {
  width: 20px;
  border-radius: 50%;

  margin-right: 5px;
}

.post-social {
  display: flex;
  margin-top: 15px;
  color: #666666;
}

.post-text {
  background-color: #FFF;
  padding: 6% 8%;
  border-radius: 0 0 4px 4px;
}

.post-date {
  margin-bottom: 15px;
  color: #666666;
}

.post-title {
  font-size: 42px;
  line-height: 1.04;
  letter-spacing: -.015em;
  font-weight: bold;
  margin: 0;
}

.post-image {
  width: 100%;
  height: auto;
}

.profile-name {
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 -15px;
}

.profile-info-wrapper {
  display: flex;
  flex-direction: row;
  margin: 1% 12% 0 12%;
}

.post-content {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: 'Vollkorn', serif;
}

.profile-image {
  border-radius: 500px;
  border: 5px solid #CCC;
  width: calc(12.2vw + 50px);
  height: calc(12.2vw + 50px);
  max-width: 100%;
  display: block;
}

.profile-details {
  flex-direction: column;
  margin-left: 20px;
}

.profile-social-icon {
  color: black;
  font-size: 20px;
  margin: 0 5px 0 5px;
}

.profile-bio {
  font-size: 16px;
  margin: 15px 0 15px 0;
}

.settings-title {
  font-size: calc(40px + 1vw);
  font-weight: bold;
}

.settings-button {
  margin: 30px 0 30px 0;
  height: 50px;
}


/* NEW STYLING FOR HOVERING MENU*/

.example,
.error {
  max-width: 42em;
  margin: 0 auto 20px;
  padding: 20px;
}

.example {
  background: #fff;
}

.error {
  background: #fffae0;
}

.error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.editor > * > * + * {
  margin-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active='true'] {
  color: black;
}

.toolbar-menu {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.toolbar-menu .search {
  position: relative;
}

.toolbar-menu .search-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #ccc;
  height: 30px;
}

.toolbar-menu .search-box {
  padding-left: 2em;
  width: 100%;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
  height: 35px;
}

.hover-menu .button {
  color: #fff;
  font-size: 16px;
}

.hover-menu .button[data-active='true'] {
  color: #fff;
}

code {
  font-size: 0.8em;
}

.new-article-input {
  border: transparent;
  margin-top: 2%;
  height: 50px;
  color: #BFBFBF;
  padding: 0;
}

.new-article-image-url::placeholder {
  font-size: 20px !important;
}

.new-article-image-url {
  margin-top: 0 !important;
  font-size: 20px;
}

.editor {
  margin-top: 20px !important;
}

.new-article-title {
  margin-bottom: none;
  font-size: 36px;
  font-weight: 700;
}

.new-article-title::placeholder {
  font-size: 36px !important;
  font-weight: 700;
}

.new-article-input::placeholder {
  line-height: 1.04;
  letter-spacing: 1px;
}

.ant-input {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
}

.auth-link {
  margin: 0 2% 2% 2%;
  width: 200px;
  display: inline-block;
}

.introduction {
  text-align: center;
  font-weight: 500;
  color: #808080;
  font-size: 1.2em;
  max-width: 24em;
  margin: 0 auto;
}

.test + .test {
  margin-left: 10px;
}