body {
  background-color: #fafaff;
}

.option {
  width: 300px;
  margin: 8px !important;
}

.auth-texts {
  color: #fcf7ff;
  font-family: 'Muli', sans-serif;
}

.auth-title {
  @extend .auth-texts;
  font-size: 32px;
  font-weight: bold;
  margin-top: 35px !important;
}

.auth-subtitle {
  @extend .auth-texts;
  font-size: 13px;
  margin: 0 0 50px 0;
}

.child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-input {
  border: 0 !important;
}
